.intro {
  text-align: center;
  font-family: monospace;
  font-weight: bold;
}

p.intro {
  color: gray;
  font-size: larger;
}

img.intro {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

p {
  font-family: monospace;
  font-weight: bold;
  color: gray;
}

h1 {
  font-family: monospace;
  font-weight: bold;
  color: black;
  text-align: center;
}

.boxed {
  color: red;
  border-color: red;
  border-style: dashed;
}